<html lang="en" ng-app="DICOMSearch">
  <head>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body id="main" layout="column" ng-controller="DICOMSearchController as search" style="display: none;" ng-init="init()">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button id="searchButton" ng-click="toggleLeft()" class="md-primary">
          <ng-md-icon aria-label="Search DICOM Standard" icon="search" style="fill: white" size="32"></ng-md-icon>
        </md-button>
        <span>A Searchable Index of the DICOM Base Standard 2015c (work in progress)</span>
      </div>
      <md-button ng-click="" class="md-primary">
        <a href="http://qiicr.org/" target="_blank">
          <img class="png-icon" src="assets/QIICR_horizontal.png" style="max-height: 32px;max-width: 100%;">
        </a>
      </md-button>
    </md-toolbar>
    <div layout="row" flex>
      <md-sidenav id="sidebar" scroll class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <form id="searchForm">
          <div layout="row" layout-wrap>
            <div flex="55">
              <md-input-container>
                <label for="testInput">SEARCHTERM</label>
                <input type="text" id="testInput" ng-model="keyword" md-autofocus ng-change="search()">
              </md-input-container>
            </div>
            <div flex="45">
              <md-input-container flex>
                <label>MAX. RESULTS</label>
                <md-select ng-model="searchLimit" ng-change="search()">
                  <md-option id="limit" ng-repeat="count in countOptions" value="{{count}}" >{{count}}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div layout="row" layout-wrap>
            <md-input-container flex>
              <label>PARTS</label>
              <md-select multiple ng-model="selectedParts">
                <md-option id="parts" ng-value="part" ng-repeat="part in dicomParts" value="{{part.part}}" >{{part.part}}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-wrap>
            <div flex="50">
            <md-checkbox ng-model="searchTerms" aria-label="Search for terms?" ng-change="search()">
              Terms
            </md-checkbox>
            </div>
            <div flex="50">
              <md-checkbox ng-model="searchParagraphs" aria-label="Search  for paragraphs?" ng-change="search()">
                Paragraphs
              </md-checkbox>
            </div>
          </div>
          <md-content flex layout-padding>{{searchResults.length}} results for '{{keyword}}'</md-content>
        </form>
        <div ng-repeat="result in searchResults">
          <div class='stickynote' ng-cloak data-location={{result.id}} layout-padding ng-click="onResultClicked($event)">
            <p class='citation' ng-cloak>{{result.id | onlyPart}}</p>
            <p class='paragraph' ng-cloak>{{result.fields.default}}</p>
          </div>
          <md-divider></md-divider>
        </div>
        <md-button id="scrollTopButton" ng-show="isOpenLeft() == true && searchFrameVisible == false" class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="scrollSidebarTop()">
          <ng-md-icon aria-label="Go to top" icon="keyboard_arrow_up" style="fill: white" size="32"></ng-md-icon>
        </md-button>
      </md-sidenav>
      <md-content id="mainContent" layout="column" flex layout-padding>
        <iframe id="iFrame" layout="row" flex ng-model="search.iFrame" iframe-onload="iframeLoadedCallBack()"
                src="https://fedorov.cloudant.com/dicom_standard_2015c/.site/chtml/part01/PS3.1.html" ></iframe>
      </md-content>
    </div>
    <md-progress-linear id="progressbar" md-mode="indeterminate"></md-progress-linear>

    <md-toolbar style="max-height:2%" class="layout-row tiny" flex>
      <div class="md-toolbar-tools">
        <span>Interface provided by <a href="http://qiicr.org">QIICR</a> &copy;2015.
          <a href="http://www.dclunie.com/dicom-status/status.html">The DICOM Standard</a> is
          <a href="http://dicom.nema.org">NEMA</a> &copy;2015. Related projects include:
          <a href="http://slicer.org">3D Slicer</a>
          <a href="http://na-mic.org">NA-MIC</a>
          <a href="http://nac.spl.harvard.edu">NAC</a>
          <a href="http://ncigt.org">NCIGT</a>
          <a href="http://commontk.org">CTK</a>
        </span>
      </div>
    </md-toolbar>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/sprintf/dist/sprintf.min.js"></script>
    <script src="bower_components/jquery-highlight/jquery.highlight.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/directives.js"></script>
  </body>
</html>