.stickynote {
  border: 1pt;
  margin: 10pt;
  cursor: pointer;
  border-style: solid;
  margin: 3pt;
}

.stickynote-selected {
  border: 2pt;
  border-color: #00f;
  background: rgba(0,0,2,0.1);
  margin: 10pt;
  cursor: pointer;
  border-style: solid;
  margin: 3pt;
}

.citation {
  color: #777;
  font-size: 75%;
}

.paragraph {
  font-style: italic;
  font-size: 10pt;
  padding: 0pt 3pt 0pt 8pt;
  word-break: break-word;
}

.layout-row.tiny a {
  color: black;
}

.md-sidenav-left {
  position: inherit;
  top: $app-bar-height;
  bottom: $app-bar-height;
}

#scrollTopButton {
  position: fixed;
}